/* Main Content */
main {
	margin-top: 2.5em;
}

main h3,
main p {
	margin: 0;
}
section a {
	text-decoration: none;
	color: inherit;
}
.blog-post--article {
	margin-top: 2em;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
	border-bottom: 1px solid var(--dark-gray-color);
}

.blog-post--img {
	width: 100%;
}

.blog-post--article p,
.about--section p {
	padding: 0 0.5em 0.5em;
}
