/* Sider Bar */
aside {
	margin-top: 1.5em;
}

aside section {
	margin-bottom: 0.8em;
}

section ul {
	padding: 0;
	align-self: start;
	padding: 0 0.5em 0.5em;
}

/* .aside--content {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
} */

.about--section,
.recent-post--section,
.categories--section {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
}

aside section h3 {
	margin: auto;
	width: max-content;
	border-bottom: 1px solid var(--dark-gray-color);
}

.profile {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: end;
}

.profile-pic {
	z-index: 0;
	grid-area: 1 / 1 / -1 / -1;
}

.social {
	width: 100%;
	z-index: 10;
	grid-area: 1 / 1 / -1 / -1;
	align-self: end;
	display: flex;
	justify-content: space-around;
	padding: 0 20%;
	
}

.social i {
	background-color: var(--dark-gray-color);
	padding: 0.3em;
	/* margin: 0 0.2em; */
	color: var(--accent-color);
	border-radius: 50%;
	padding: 0.3em;
}

i:nth-child(2n) {
	border-radius: 0%;
}

.author-info__span {
	font-weight: bold;
}