/* Sider Bar */
aside {
	margin-top: 1.5em;
}

aside section {
	margin-bottom: 0.8em;
}

section ul {
	padding: 0;
	align-self: start;
	padding: 0 0.5em 0.5em;
}

/* .aside--content {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
} */

.about--section,
.recent-post--section,
.categories--section {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
}

aside section h3 {
	margin: auto;
	width: max-content;
	border-bottom: 1px solid var(--dark-gray-color);
}
