@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./header.css);
@import url(./main-content.css);
@import url(./sidebar.css);
@import url(./footer.css);

:root {
	--primary-color: #c7d2ff;
	--accent-color: #e7771e;
	--dark-gray-color: #181836;
	--light-gray-color: #f9fbfb;
	--periwinkle-purple: #be93e4;
	--mountains-majesty: #9078c0;
	--early-bird: #cea2fd;
	--medium-purple-3: #8968cd;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: var(--dark-gray-color);
	font-family: "Barlow", sans-serif;
	/* font-size: 16px; */
}

.body--wrapper {
	width: 100%;
	margin: 0 auto;
	/* padding: 1px; */

	background: var(--light-gray-color);
}
img {
	width: 100%;
}

@media screen and (max-width: 480px) {
	body {
		background: yellow;
		font-size: 12px;
	}
}

@media screen and (min-width: 481px) {
	.body--wrapper {
		width: 60%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"content"
			"content"
			"content"
			"footer";
	}

	header {
		grid-area: header;
	}

	.hero--img--section {
		height: 40vh;
	}

	.hero--intro {
		padding: 2em;
	}

	main {
		grid-area: content;
		display: grid;
		display: flex;
	}

	.blog--section {
		flex: 1 0 70%;
		grid-column: span 2 / 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"featured-blog  featured-blog"
			"blog1          blog2";
		gap: 0.5em;
		margin-right: 0.8em;
	}

	.featured-blog {
		grid-area: featured-blog;
		width: 100%;
	}

	.blog1 {
		grid-area: blog1;
	}

	.blog2 {
		grid-area: blog2;
	}

	.blog--article--content {
		grid-column: span 2;
		padding: 1em;
	}

	.blog--article--paragraph {
		padding-bottom: 1em;
	}

	.blog--article--content:first-child::first-letter {
		color: var(--primary-color);
	}

	.aside--content {
		grid-column: 3;
	}

	footer {
		grid-area: footer;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.body--wrapper {
		width: 75%;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.body--wrapper {
		width: 85%;
	}
}
