@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary-color: #c7d2ff;
	--accent-color: #e7771e;
	--dark-gray-color: #181836;
	--light-gray-color: #f9fbfb;
	--periwinkle-purple: #be93e4;
	--mountains-majesty: #9078c0;
	--early-bird: #cea2fd;
	--medium-purple-3: #8968cd;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	color: var(--dark-gray-color);
	font-family: "Barlow", sans-serif;
	/* font-size: 16px; */
}
.body--wrapper {
	width: 80%;
	margin: 0 auto;
	/* padding: 1px; */

	background: var(--light-gray-color);
}

/* Header styles */
/* Navigation bar */
nav ul {
	display: flex;
	justify-content: space-between;
	gap: 0.2em;
	margin: 0;
	padding: 0.5em;
}
nav ul li {
	list-style: none;
}
.navbar--link {
	text-decoration: none;
	color: var(--dark-gray-color);
}
.navbar {
	width: 50%;
	margin: 0 auto;
	border-bottom: 1px solid var(--dark-gray-color);
}

/* Hero Section */
.hero--section {
	text-align: center;
	width: 100%;
}
.hero--img--section {
	background: url(../assests/love-learn.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* font-size: 0.6em; */
	/* color: var(--light-gray-color); */
	padding: 3em 0.5em;
}
.hero--intro {
	/* padding: 20px; */
	width: 80%;
	margin: 0 auto;
	padding: 0.8em;
	background-color: var(--primary-color);
	opacity: 0.9;
}

.hero--intro-text {
	margin: 0;
}
.hero--into-button {
	margin: 0.5em;
	background-color: var(--dark-gray-color);
	color: var(--light-gray-color);
	border: 1px solid var(--dark-gray-color);
	border-radius: 0.2em;
}

@media screen and (max-width: 480px) {
	body {
		background: yellow;
	}
}
