@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary-color: #c7d2ff;
	--accent-color: #e7771e;
	--dark-gray-color: #181836;
	--light-gray-color: #f9fbfb;
	--periwinkle-purple: #be93e4;
	--mountains-majesty: #9078c0;
	--early-bird: #cea2fd;
	--medium-purple-3: #8968cd;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	color: var(--dark-gray-color);
	font-family: "Barlow", sans-serif;
	/* font-size: 16px; */
}
.body--wrapper {
	width: 100%;
	margin: 0 auto;
	/* padding: 1px; */

	background: var(--light-gray-color);
}

/* Header styles */
/* Navigation bar */
nav ul {
	display: flex;
	justify-content: space-between;
	gap: 0.2em;
	padding: 0.5em;
}
nav ul,
section ul {
	margin: 0;
}
nav ul li,
section ul li {
	list-style: none;
}
.navbar--link,
.recent-post--link,
.blog-category--link {
	text-decoration: none;
	color: var(--dark-gray-color);
}
.navbar {
	width: 50%;
	margin: 0 auto;
	border-bottom: 1px solid var(--dark-gray-color);
}

/* Hero Section */
.hero--section {
	text-align: center;
	width: 100%;
}
.hero--img--section {
	background: url(../assests/love-learn.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* font-size: 0.6em; */
	/* color: var(--light-gray-color); */
	padding: 3em 0.5em;
}
.hero--intro {
	/* padding: 20px; */
	width: 80%;
	margin: 0 auto;
	padding: 0.8em;
	background-color: var(--primary-color);
	opacity: 0.9;
}

.hero--intro-text {
	margin: 0;
}
.hero--into-button {
	margin: 0.5em;
	background-color: var(--dark-gray-color);
	color: var(--light-gray-color);
	border: 1px solid var(--dark-gray-color);
	border-radius: 0.2em;
}

/* Main Content */
main {
	margin-top: 2.5em;
}
main h3,
main p {
	margin: 0;
}
.blog-post--article {
	margin-top: 2em;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
	border-bottom: 1px solid var(--dark-gray-color);
}
.blog-post--img {
	width: 100%;
}
.blog-post--article p,
.about--section p {
	padding: 0 0.5em 0.5em;
}

/* Sider Bar */
aside {
	margin-top: 1.5em;
}
aside section {
	margin-bottom: 0.8em;
}
section ul {
	padding: 0;
	align-self: start;
	padding: 0 0.5em 0.5em;
}
/* .aside--content {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
} */

.about--section,
.recent-post--section,
.categories--section {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	align-items: center;
}
aside section h3 {
	margin: auto;
	width: max-content;
	border-bottom: 1px solid var(--dark-gray-color);
}

/* Footer */
footer {
	padding: 1em 0.5em;
}

@media screen and (max-width: 480px) {
	body {
		background: yellow;
		font-size: 12px;
	}
}

@media screen and (min-width: 481px) {
	.body--wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"content"
			"content"
			"content"
			"footer";
	}

	header {
		grid-area: header;
	}

	main {
		grid-area: content;
		display: grid;
		display: flex;
	}
	.blog--section {
		flex: 1 0 70%;
		grid-column: span 2 / 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"featured-blog  featured-blog"
			"blog1          blog2";
		gap: 0.5em;
		margin-right: 0.8em;
	}
	.featured-blog {
		grid-area: featured-blog;
		width: 100%;
	}
	.blog1 {
		grid-area: blog1;
	}
	.blog2 {
		grid-area: blog2;
	}
	.aside--content {
		grid-column: 3;
	}
	footer {
		grid-area: footer;
	}
}
