:root {
	--primary-color: #c7d2ff;
	--accent-color: #e7771e;
	--dark-gray-color: #181836;
	--light-gray-color: #f9fbfb;
	--periwinkle-purple: #be93e4;
	--mountains-majesty: #9078c0;
	--early-bird: #cea2fd;
	--medium-purple-3: #8968cd;
}

body {
	width: 100%;
}

.body--wrapper {
	width: 80%;
	margin: 0 auto;
	background: var(--light-gray-color);
}
